<% if can? :read, public_recipe %>
<article class='recipe'>
  <div class='recipe-name'>
    <h2><%= link_to public_recipe.name, recipe_path(public_recipe) %></h2>
    <p>By: <%= public_recipe.user.name %> </p>
  </div>
  <div>
    <p>Total food items: <%= public_recipe.total_food_items %> </p>
    <p>Total price: $<%= public_recipe.total_price %></p>
  </div>
</article>
<% end %>